a, a:focus, a:hover {
	color: #fff;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: 0.05rem solid #fff;
}

html, body {
	height: 100%;
	background-color: #155d96;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 .05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.1);
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {
	padding: 2rem;
}

.masthead {
	margin-bottom: 2rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: 0.25rem 0;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.75);
	background-color: transparent;
	border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
	color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.75);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}

	.nav-masthead {
		float: right;
	}
}

.cover {
	padding: 0 1.5rem;
}

.cover .btn-lg {
	padding: .75rem 1.25rem;
	font-weight: bold;
}

.mastfoot {
	color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 40em) {
	.masthead {
		position: fixed;
		top: 0;
	}

	.mastfoot {
		position: fixed;
		bottom: 0;
	}

	.site-wrapper-inner {
		vertical-align: middle;
	}

	.masthead, .mastfoot, .cover-container {
		width: 100%;
	}
}

@media (min-width: 62em) {
	.masthead, .mastfoot, .cover-container {
		width: 42rem;
	}
}