.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
}

.flex-item {
	order: 0;
	padding: 1rem;
	align-self: stretch;
	overflow-y: scroll;
	height: calc(100vh - (51px + 1rem));
}

.flex-item:nth-child(1) {
    flex: 1 1 25%;

}

.flex-item:nth-child(2) {
    flex: 2 0 50%;
}

.flex-item:nth-child(3) {
    order: 0;
    flex: 1 1 25%;
}

.question {
	cursor: pointer;
}