<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="robots" content="noindex, nofollow">

	<title>eClicker</title>

	<link rel="stylesheet"
	      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	      integrity="sha256-QUyqZrt5vIjBumoqQV0jM8CgGqscFfdGhN+nVCqX0vc=" crossorigin="anonymous"/>
	<link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand hidden-xs-down">eClicker</h3>
					<nav class="nav nav-masthead">
						<a class="nav-link" href="/educator/">Educator Login</a>
					</nav>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">eClicker</h1>
				<p class="lead">A modern in-class student response collection system for educators and learning institutions.</p>
				<p class="lead">
					<a href="http://play.google.com/store/apps/details?id=edu.ucsb.cs.cs184.eclicker" class="btn btn-lg btn-secondary">Download Mobile Application</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>&copy; eClicker 2017.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>

