<html>
<head>
	<title>eClicker - Session Authenticate</title>
</head>
<body>
	<div style="width: 100%; height: 100%;" id="qrcode"></div>
	<input type="hidden" id="sessionId" value="<%= sessionId %>">
	<input type="hidden" id="sessionAuthenticator" value="<%= sessionAuthenticator %>">
	<script type="text/javascript" src="/javascripts/qrcode.js"></script>
	<script type="text/javascript" src="/javascripts/session_authenticate.js"></script>
</body>
</html>